<<<<<<< HEAD
#guessCount {
  margin: .8rem auto;
}

#count {
  display: inline-block;
  vertical-align: middle;
  color: #f39c12;
  font-weight: 700;
  font-size: 1.5em;
}
=======
#count {
	color: #f39c12;
	font-weight: 700;
	font-size: 1.5em;
}
>>>>>>> 7b88fc9ea3dc3ed9816d23094e6a7e76e33240eb
