nav {
<<<<<<< HEAD
  position: relative;
  height: 10%;
  padding: 1em;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
}

nav ul li:first-child {
  float: left;
}

nav ul li {
  float: right;
}

nav a {
  color: #fff;
}

.status-link {
  z-index: 100;
  top: 60px;
=======
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li:first-child {
	float: left;
}

nav ul li:last-child {
	float: right;
}

nav a {

	color: #fff;
>>>>>>> 7b88fc9ea3dc3ed9816d23094e6a7e76e33240eb
}
